<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/productDetail.css">
</head>
<body>
    <header>

    </header>


    <main>
        <div class="otroAngulo">
            
        </div>

        <div class="producto">

        </div>

        <div class="detalles">

        </div>

        <div class="colores">

        </div>

        <div class="recomendaciones">

        </div>

    </main>


    <footer>

    </footer>
</body>
</html>