<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <title>LyonSport</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
    </style>
</head>
<body>
    <header>
        <section class="titulo">
            <nav> <a href="/"><img class="logo" src="/img/logopng.png" alt="Aquí va una foto" ></a></nav>
            <h2> LyonSport</h2>
        </section>
        <section class="peticiones">
            <h6 class="buscador">Buscar productos<a href="/" class="lupa"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a><h6>
            <a class="ingresar" href="/login"><i class="fa-solid fa-user"></i></a>
            <a class="deseos" href="/deseos"><i class="fa-sharp fa-regular fa-heart"></i></a>
            <a class="carrito" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </section>
    </header>


    <main>
        <section class="ingreso">
            <form action="/" method="get">
                <h2>Ingresar</h2>
                <div class="formulario">
                    <input type="text" type="email" id="usuario" name="usuario_mail" required placeholder="Usuario o Email">
                </div>
                <div class="formulario">
                    <input type="password" id="contraseña" name="password" required placeholder="ingresar Contraseña">
                </div>
                <div class="formulario">
                    <label for="interes">
                        <input class="check" type="checkbox" name="intereses" value="interes">¿Recordar cuenta?
                    </label>
                </div>
                <div class="botones">
                    <buttom type="submit"></buttom>
                    <input type="submit" id="boton" value="Ingresar">
                    <a href="/register"><input type="button" id="boton2" value="Crear Cuenta"></a>
                </div>
            </form>
        </section>
    </main>


    <footer>
        <section class="elfooter">
            <h4>Contactanos</h4>
            <article>
                <div><i class="fa-solid fa-envelope"></i>LyonSport@gmail.com</div>
            </article>
            <article>
                <div><i class="fa-solid fa-phone"></i>3885748722</div>
            </article>
            <article>
                <div><i class="fa-brands fa-whatsapp"></i>3885820709</div>
            </article>
        </section>
        <section class="elfooter">
            <h4>Ayuda</h4>
            <article>
                <div><a href="">Locales</a></div>
                <div><a href="">Preguntas Frecuentes</a></div>
                <div><a href="">Estado de mi pedido</a></div>
                <div><a href="">Términos y condiciones</a></div>
                <div><a href="">Cambios y devoluciones</a></div>
                <div><a href="">Defensa del consumidor</a></div>
            </article>
        </section>
        <section class="elfooter">
            <h4>Redes Sociales</h4>
            <article>
                <div><i class="fa-brands fa-discord"></i>Discord</div>
            </article>
            <article>
                <div><i class="fa-brands fa-facebook"></i>Facebook</div>
            </article>
            <article>
                <div><i class="fa-brands fa-twitter"></i>twitter</div>
            </article>
            <article>
                <div><i class="fa-brands fa-instagram"></i>Instagram</div>
            </article>
        </section>
    </footer>

</body>
</html>