* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1d31;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: #24253c;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}


input {
    text-align: center;
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 16px;
}
#boton{
   cursor: pointer;
}
#titulo{
    color: #ffffff;
    text-align: center;
    margin: 30px;
}

::placeholder {
    color: #898798;
}

