*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    background-color: black ;
    padding-bottom: 25px;
}
footer{
    padding-bottom: 60px;
}
footer a{
    color: white;
}
header a{
    color: black;
    text-decoration: none;
}
nav{
    display: flex;
}
.titulo{
    display: flex;
    justify-content: flex-start;
    width: 45%;
}
.titulo h2{
    color: white;
}
#lupa{
    position: relative;
    right: 20px;
    top: 8px;
}
.barra{
   margin-bottom: 20px;
}
.logo{
    max-width: 80px;
}
.ingresar{
    color:white;
    font-size:medium;
    width: 500px;
    margin: 5px;
}
.carrito{
    color: white;
    font-size:medium;
    margin: 5px;
}
.deseos{
    color: white;
    font-size:medium;
    margin: 10px;
}
.peticiones{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

header a:hover, footer a:hover{
    color: #f8be09;
}
.clickable:hover{
    cursor: pointer;
}

footer{
    border-top: solid 3px #f8f8f8;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 483px){
    footer{
        display: block;
    }
    .buscador{
        width: 130px;
    }
    .lupa{
        left: 30px;
    }
}
@media (min-width: 769px){
    .buscador{
        width: 140px;
    }
    .lupa{
        left: 40px;
    }
}