@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

/* Ajustes generales */
/* ---------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
h2{
    font-size: 2em;
    font-weight: 600;
    color: black;
}
h3, p{
    font-size: 1em;
    font-weight: 500;
    color: black;
}
label{
    font-size: 1em;
    font-weight: 500;
}
.margen{
    margin-left: 4%;
}

a{
    color: black;
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}
/* ---------------------------------------- */


/* Ajustes a Header */
/* ---------------------------------------- */
header{
   background-color: #f8be09;
}

.titulo{
    display: flex;
    justify-content: flex-start;
    width: 45%;
}

.peticiones{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.buscador{
    color: #666;
    background-color: white;
    border: solid #666 1px;
    width: 25vw;
    border-radius: 5px;
}
.lupa{
    position: relative;
    left: 2.5vw;
}
.ingresar{

    font-size:medium;
    width: 500px;
    margin: 5px;
}
.carrito{

    font-size:medium;
    margin: 5px;
}
.deseos{

    font-size:medium;
    margin: 5px;
}

.logo{
    max-width: 80px;
}
/* ---------------------------------------- */




/* Ajustes a Main */
/* ---------------------------------------- */
main{
    background-color: rgb(224, 224, 224); 
    padding-bottom: 20px;
}
span{
    color:rgb(0, 34, 255);;
}
.topmain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

.otroAngulo img{
    width: 150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.otroAngulo img:hover{
    cursor: pointer;
}
.otroAngulo{
    margin-left: 2%;
}
.angulos{
    margin-bottom: 15px;
}

.producto img{
    width: 600px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.detalles{
    margin-right: 10%;
    width: 20%;
}

.precio-codigo{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.precio{
    font-size: 2em;
    color: rgb(0, 69, 0);
}
.codigo{
    margin-left: 20px;
}
.formasDePago img{
    width: 30px;
    margin-top: 5px;
}
.formasDePago{
    margin-top: 20px;
}
.talles{
    margin-top: 20px;
}
.talles select{
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 2px ;
}
.cantidad{
    margin-top: 20px;
}
.cantidad select{
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 2px ;
}
.anhadirCarrito{
    margin-top: 20px;
}
.anhadirCarrito button{
    width: 400px;
    height: 80px;
    border: solid 2px ;
    font-weight: 900;
    border-radius: 5px;
    background-color: white;
    font-size: 1.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.comprar{
    margin-top: 20px;
}
.comprar button{
    width: 400px;
    height: 80px;
    border: solid 2px ;
    font-weight: 900;
    border-radius: 5px;
    background-color: white;
    font-size: 1.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.comprar button:hover{
    background-color: #f8be09;
}
.anhadirCarrito button:hover{
    background-color: #f8be09;
}
.envio{
    margin-top: 20px;
}
.guiaTalles{
    margin-top: 20px;
    display: flex;
}
.guiaTalles p{
    font-weight: 900;
}
.guiaTalles p:hover{
    cursor: pointer;
    color: #f8be09;
}


.colores img{
    width: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 10px;
}
.colores img:hover{
    cursor: pointer;
}
.colores{
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-top: -5%;
}


.recomendaciones{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.recomendaciones img{
    width: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* ---------------------------------------- */

/* Ajustes footer */
/* ---------------------------------------- */
footer{
    border-top: solid 3px #ebebeb;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a{
    color: white;
}
/* ---------------------------------------- */



/* Media Queries */
/* ---------------------------------------- */
@media (max-width: 483px){
    footer{
        display: block;
    }
    .buscador{
        width: 130px;
    }
    .lupa{
        left: 30px;
    }
}


@media (min-width: 769px){
    .buscador{
        width: 140px;
    }
    .lupa{
        left: 40px;
    }
}
/* ---------------------------------------- */
