*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    font-family: 'Lora', serif;
}

main{
    background-color: rgb(224, 224, 224);
    padding: 5% 0 5% 0;
}
.flex{
    display: flex;
    justify-content: flex-center; 
    align-items: flex-center; 
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.contenedor{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.productContainer{
    max-width: 25rem;
    min-width: 25rem;
}
.cardContainer{
    max-width: 24rem;
    margin: 10px;
    background-color: #f6f6f6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}
.cardContainer img{
    max-width: 100%;
}
.cardContainer a{
    text-decoration: none;
    color: black;
}
.cardContainer:hover{
    box-shadow: -1px 11px 45px -3px rgba(255, 166, 0, 0.38);
}
.nombre{
    margin-top: 5px;
}
.nombre h5{
    font-size: 1.2rem;
}
.precio{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 900;
    color: green;
}
#boton{
    position: relative;
    left: 10%;
    padding: 10px;
    margin: 30px;
    color: white;
    background-color:navy;
    border-radius: 10px;
    font-size: 2ex;
}
@media screen and (min-width: 768px) and (max-width: 1023px){

}

@media screen and (max-width: 767px){
    
    .productContainer{
        max-width: 22rem;
        min-width: 22rem;
    }

}
