* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{ 
padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1d31;
}

header{
    background-color: #f8be09;
}

form {
    background-color: #24253c;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form h2 {
    font-size: 30px;
    color: #edf0f0;
    margin-bottom: 35px;
}

input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}

footer{
    border-top: solid 3px #ebebeb;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a{
    color: white;
}
a{
    color: white;
}
a:hover{
    text-decoration:underline;
}

label{
    color: white;
}
::placeholder {
    color: #898798;
}

.btn {
    background-color: #e53854;
    border: 2px solid #e53854;
    cursor: pointer;
}

.btn:hover {
    background-color: #f33f5a;
    border: 2px solid #f33f5a;
}
.peticiones{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}
.titulo{
    display: flex;
    justify-content: flex-start;
    width: 45%;
}
.logo{
    max-width: 80px;
}
.buscador{
    color: #666;
    background-color: white;
    border: solid #666 1px;
    width: 25vw;
    border-radius: 5px;
}
.lupa{
    color: black;
    position: relative;
    left: 1vw;
}
.ingresar{
    color: black;
    font-size:medium;
    width: 500px;
    margin: 5px;
}
.carrito{
    color: black;
    font-size:medium;
    margin: 5px;
}
.deseos{
    color: black;
    font-size:medium;
    margin: 5px;
}
.ingreso{
    margin: 50px;
}


@media (max-width:991px) {

    body {
        padding: 30px;
    }

    form {
        width: 340px;
    }
}
