* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{ 
padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center; 
}

body {
    background-color: #1b1d31;
}

div.errores{
    padding-left: 20px;
    background-color:white;
    color: red;
    border: 1px solid red;
    border-radius: 6px;
    visibility: hidden;
}

main form {
    background-color: #24253c;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgb(253, 251, 251);
    text-align: center;
}


main form h2 {
    font-size: 30px;
    color: #edf0f0;
    margin-bottom: 35px;
}


main input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    background-color: #191929;
}
::placeholder {
    color: #898798;
}

.btn {
    background-color: #e53854;
    border: 2px solid #e53854;
    cursor: pointer;
}

.btn:hover {
    background-color: #f33f5a;
    border: 2px solid #f33f5a;
}

.remember{
    color: white;
    display: flex;
    margin: auto;
}
.remember input {
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    margin-right: 10px;
}
main button{
    padding: 20px 40px ;
    color: white;
    border-radius: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #f33f5a;
    font-weight: 900;
}
main a{
    color: white;
}
.ingreso a:hover{
    text-decoration: underline;
}
@media (max-width:991px) {

    main body {
        padding: 30px;
    }

    main form {
        width: 340px;
    }
}