<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/add.css">
        <link rel="stylesheet" href="/css/footerHeader.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
        </style>
    </head>
<body>
    <main>
        <h1 id="titulo">Creando producto</h1>
        <form method="POST" action="/products" enctype="multipart/form-data">
                <input type="text" id="producto" name="name" required placeholder="Nombre del producto">
                <input type="number" id="precio" name="price" required placeholder="Precio del producto">
                <input name="centralImage" type="file" id="imgProducto"  >
                <input type="file" name="imageAngle" multiple>
                
                <div><input type="submit" id="boton" value="Crear producto">
                    <br>
                <a href="/"><input href="/" id="boton" type="button" value="Volver a Inicio"></a></div>
        </form>
</main>
</body>
</html>