<!DOCTYPE html>
<html lang="en">
    
    <%- include("./partials/head")%>

<body>
    
    <%- include('./partials/header') %>
    
    <main>    
        <img width="100%" src="https://ar.puma.com/media/contentmanager/content/PRECIOS%20JUSTOS-Desktop-Home%20Page-1440%20x%20500px.jpg">
        <img width="100%" src="https://nikearprod.vtexassets.com/assets/vtex.file-manager-graphql/images/74f125cf-6fdd-438f-9071-ccb97f6a21c6___f7674ffd1b1bff11dccc7e6d8e6cd547.jpg">
        <h4>¡¡OFERTAS!!</h4>
        <div class="slider"><section class="ofertas">
                <a href="#"><article class="cuadro">
                    <img class="imgoferta" src="https://filaar.vtexassets.com/arquivos/ids/6846175-1600-auto?v=638217441720670000&width=1600&height=auto&aspect=true" alt="aqui va una imagen">
                    <h5>ZAPATILLA FILA PROGRESS MUJER</h5>
                </article></a>
                <a href="#"><article class="cuadro">
                    <img class="imgoferta" src="https://www.underarmour.com.ar/on/demandware.static/-/Sites-underarmour_staging/default/dw7d588d66/new_images/1356487/195252400460/195252400460-1.jpeg" alt="aqui va una imagen">
                    <h5>PANTALON RIVAL FLEECE</h5>
                </article></a>
                <a href="#"><article class="cuadro">
                    <img class="imgoferta" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/f45570e46fa947e29768ad2800a322df_9366/Conjunto_Deportivo_Adicolor_SST_Negro_H25260_01_laydown.jpg" alt="aqui va una imagen">
                    <h5>CONJUNTO DEPORTIVO ADICOLOR SST</h5>
                </article></a>
                <a href="#"><article class="cuadro">
                    <img class="imgoferta" src="https://nikearprod.vtexassets.com/arquivos/ids/219565-800-800?v=638100884243930000&width=800&height=800&aspect=true" alt="aqui va una imagen">
                    <h5>MOCHILA DE MODA PARA NIÑO/a</h5>
                </article></a>
        </section></div>
        
        <h3 style="align-content: center;">Destacados</h3>
        <div class="slider"> 
            <section class="cajadestacado">
            <article class="cuadro">
                <a href="/airForce" class="airforce">
                    <img class="imgdestacado" src="/images/AirForce/perfil.webp" alt="aqui va una imagen">
                    <div class="nombre">Nike Air Force</div>
                    <div class="precio">$66.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="/airMax">
                    <img class="imgdestacado" src="/images/AirMax/perfil.webp" alt="aqui va una imagen">
                    <div class="nombre">Nike Air Max SYSTM</div>
                    <div class="precio">$53.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="/react">
                    <img class="imgdestacado" src="/images/React/perfil.webp" alt="aqui va una imagen">
                    <div class="nombre">Nike React Infinity Run Flyknit 3</div>
                    <div class="precio">$89.999</div>
                </a>
            </article>
            </section>
        </div>
        <div class="slider">
            <section class="cajadestacado">
            <article class="cuadro">
                <a href="">
                    <img class="imgdestacado" src="/images/Jordan/perfil.webp" alt="aqui va una imagen">
                    <div class="nombre">Jordan Max Aura 4</div>
                    <div class="precio">$71.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="">
                    <img class="imgdestacado" src="/images/airmax90.webp" alt="aqui va una imagen">
                    <div class="nombre">Nike Air Max 90 SE</div>
                    <div class="precio">$77.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="">
                    <img class="imgdestacado" src="/images/revolution.webp" alt="aqui va una imagen">
                    <div class="nombre">Nike Revolution 6 NN JP</div>
                    <div class="precio">$30.999</div>
                </a>
            </article>
            </section>
        </div>
        <div class="slider">
            <section class="cajadestacado">
            <article class="cuadro">
                <a href="">
                    <img class="imgdestacado" src="/images/racer.webp" alt="aqui va una imagen">
                    <div class="nombre">Nike Air Max Flyknit Racer Next Nature</div>
                    <div class="precio">$94.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="">
                    <img class="imgdestacado" src="/images/sportwear.webp" alt="aqui va una imagen">
                    <div class="nombre">Nike Sportswear Tech Fleece</div>
                    <div class="precio">$53.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="">
                    <img class="imgdestacado" src="/images/zoom.webp" alt="aqui va una imagen">
                    <div class="nombre">Nike Air Zoom Pegasus 39</div>
                    <div class="precio">$66.999</div>
                </a>
            </article>
            </section>
        </div>
    </main>
    
    <%- include('./partials/footer') %>

</body>