<!DOCTYPE html>
<html lang="en">
    
    <%- include("./partials/head")%>

<body>
    
    <%- include('./partials/header') %>
    
    <main>    
        <img width="100%" src="https://ar.puma.com/media/contentmanager/content/PRECIOS%20JUSTOS-Desktop-Home%20Page-1440%20x%20500px.jpg">
        <img width="100%" src="https://nikearprod.vtexassets.com/assets/vtex.file-manager-graphql/images/74f125cf-6fdd-438f-9071-ccb97f6a21c6___f7674ffd1b1bff11dccc7e6d8e6cd547.jpg">
        <h4>¡¡OFERTAS!!</h4>
        <div class="slider"><section class="ofertas">
                <a href="/products/DV9217-325"><article class="cuadro">
                    <img class="imgoferta" src="images/reissue/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike ACG "Oregon Series" Reissue</h5></div>
                    <div class="precio">$91.299</div>
                </article></a>
                <a href="/products/DJ3644-010"><article class="cuadro">
                    <img class="imgoferta" src="images/acg/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike ACG</h5></div>
                    <div class="precio">$27.499</div>
                </article></a>
                <a href="/products/DV9994-015"><article class="cuadro">
                    <img class="imgoferta" src="images/phoenix/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Swoosh Phoenix</h5></div>
                    <div class="precio">$37.299</div>
                </article></a>
                <a href="/products/CU5353-010"><article class="cuadro">
                    <img class="imgoferta" src="images/stripe/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Run Stripe</h5></div>
                    <div class="precio">$37.299</div>
                </article></a>
        </section></div>
        
        <h3 style="align-content: center;">Destacados</h3>
        <div class="slider"> 
            <section class="cajadestacado">
            <article class="cuadro">
                <a href="/products/DV0804-200" class="airforce">
                    <img class="imgdestacado" src="/images/AirForce/perfil.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Air Force</h5></div>
                    <div class="precio">$66.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="/products/DM9537-002">
                    <img class="imgdestacado" src="/images/AirMax/perfil.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Air Max SYSTM</h5></div>
                    <div class="precio">$53.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="/products/DH5392-003">
                    <img class="imgdestacado" src="/images/React/perfil.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike React Infinity Run Flyknit 3</h5></div>
                    <div class="precio">$89.999</div>
                </a>
            </article>
            </section>
        </div>
        <div class="slider">
            <section class="cajadestacado">
            <article class="cuadro">
                <a href="/products/DN3687-003">
                    <img class="imgdestacado" src="/images/Jordan/perfil.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Jordan Max Aura 4</h5></div>
                    <div class="precio">$71.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="/products/DV1734-100">
                    <img class="imgdestacado" src="/images/airmax90/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Air Max 90 SE</h5></div>
                    <div class="precio">$77.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="/products/DV3183-001">
                    <img class="imgdestacado" src="/images/revolution/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Revolution 6 NN JP</h5></div>
                    <div class="precio">$30.999</div>
                </a>
            </article>
            </section>
        </div>
        <div class="slider">
            <section class="cajadestacado">
            <article class="cuadro">
                <a href="/products/FD2764-001">
                    <img class="imgdestacado" src="/images/racer/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Air Max Flyknit Racer Next Nature</h5></div>
                    <div class="precio">$94.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="/products/CU4495-016">
                    <img class="imgdestacado" src="/images/sportwear/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Sportswear Tech Fleece</h5></div>
                    <div class="precio">$53.999</div>
                </a>
            </article>
            <article class="cuadro">
                <a href="/products/DH4072-001">
                    <img class="imgdestacado" src="/images/zoom/central.webp" alt="aqui va una imagen">
                    <div class="nombre"><h5>Nike Air Zoom Pegasus 39</h5></div>
                    <div class="precio">$66.999</div>
                </a>
            </article>
            </section>
        </div>
    </main>
    
    <%- include('./partials/footer') %>

</body>