<!DOCTYPE html>
<html lang="en">
    
    <%- include("./partials/head")%>

<body>
    
    <%- include('./partials/header') %>
    
    <main>
        <center class="imgpage">
            <a href="/products"><img width="100%" src="https://filaar.vtexassets.com/assets/vtex.file-manager-graphql/images/ff18172d-42fa-4e13-8e06-0f5ea39ecb1a___6272682226389d9ce11acd64742cb2a1.jpg"></a>

        <br>

        <a href="/products" class="products-ver">
            Ver todos nuestos productos
        </a>

        <a href="/products"><img width="70%" src="https://images.unsplash.com/flagged/photo-1568407371446-a239664fb4f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8&w=1000&q=80"></a>

    </center>
    </main>
    
    <%- include('./partials/footer') %>

</body>
