<!DOCTYPE html>
<html lang="en">
    
    <%- include("./partials/head")%>

<body>
    
    <%- include('./partials/header') %>
    
    <main>
        <center class="imgpage">
            <h2 class="textpage" style="width: 75%;">No te pierdas de poder disfrutar con tus amigos de la mejor forma y con los mejores articulos y vestimenta con LyonSport acompañandote.</h2>
        <img width="70%" src="https://images.unsplash.com/flagged/photo-1568407371446-a239664fb4f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8&w=1000&q=80">
        <br>
        <section id="botones">
        <a href="/product">
        <div id="boton"><input  type="button" value="Ver productos"></a></div>
        <a href="/register">
        <div id="boton"><input  type="button" value="Registrarse"></a></div>
        </section>
        
        <h2>Con los mejores precios que puedes hallar</h2>
        <img width="100%" src="https://ar.puma.com/media/contentmanager/content/PRECIOS%20JUSTOS-Desktop-Home%20Page-1440%20x%20500px.jpg">
    </center>
    </main>
    
    <%- include('./partials/footer') %>

</body>
