<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="css/productCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footerHeader.css">
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="productsCart">
            <h3>Carrito de compras vacio</h3>
            <a href="/">Agregar productos</a>
        </div>

        <div class="resumen">
            <h3>Resumen de compra</h3>
            <p>Aqui veras los importes de tu compra una vez que <br>
            agregues productos</p>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>