<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="css/productCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footerHeader.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="productsCart">
            <div class="carritoCard">
                <div class="imgCard">
                    <img src="/images/products/airmax-perfil.webp" alt="AirForce">
                </div>
                <div class="cantidadCard">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" name="cantidad" id="" value="1">
                </div>
                <div class="precioCart">
                    <p style="color: green;">$66999</p>
                </div>
            </div>
        </div>

        <div class="resumen">
            <h3>Resumen de compra</h3>
            <p>Nike Air Force x 1</p>
            <p style="color: green; margin-top: 10px;">$66999</p>
            <button>Comprar</button>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>