<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/stylesRegister.css">
        <link rel="stylesheet" href="/css/footerHeader.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
       <body>

        <%- include('./partials/header') %>
        
        <main>
            <form action="/users" method="POST">
              <h2>Register</h2>
              <label for="name">Ingrese su Nombre</label>
              <input class="controls" type="text" name="name" id="name" placeholder="Ingrese su Nombre" required>


              <label for="email">Ingrese su correo</label>
              <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo" required>

              <label for="password">Ingrese su Contraseña</label>
              <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña" required>

              <div>
                <input type="checkbox" name="terminosYCondiciones" required>
                <label for="terminosYCondiciones">Acepto los terminos y condiciones</label>
              </div>
              <button class="botons" type="submit">Registrar</button>
            </form>

             <p><a href="/login">Ya tengo Cuenta</a></p>
        </main>

        <%- include('./partials/footer') %>

       </body>
</html>
