<footer>
    <section class="elfooter">
        <h4>Contactanos</h4>
        <article>
            <div><i class="fa-solid fa-envelope"></i>LyonSport@gmail.com</div>
        </article>
        <article>
            <div><i class="fa-solid fa-phone"></i>3885748722</div>
        </article>
        <article>
            <div><i class="fa-brands fa-whatsapp"></i>3885820709</div>
        </article>
    </section>
    <section class="elfooter">
        <h4>Ayuda</h4>
        <article>
            <div><a href="">Locales</a></div>
            <div><a href="">Preguntas Frecuentes</a></div>
            <div><a href="">Estado de mi pedido</a></div>
            <div><a href="">Términos y condiciones</a></div>
            <div><a href="">Cambios y devoluciones</a></div>
            <div><a href="">Defensa del consumidor</a></div>
        </article>
    </section>
    <section class="elfooter">
        <h4>Redes Sociales</h4>
        <article>
            <div><a href=""><i class="fa-brands fa-discord"></i>Discord</a></div>
        </article>
        <article>
            <div><a href=""><i class="fa-brands fa-facebook"></i>Facebook</a></div>
        </article>
        <article>
            <div><a href=""><i class="fa-brands fa-twitter"></i>Twitter</a></div>
        </article>
        <article>
            <div><a href=""><i class="fa-brands fa-instagram"></i>Instagram</a></div>
        </article>
    </section>
</footer>