<main>
        <h1 id="titulo1">Creando producto</h1>
        <h1 id="titulo2">Editando producto</h1>
        <form method="get">
                <input type="text" id="producto" name="name_product" required placeholder="Nombre del producto">
                <input type="text" id="descripcion" name="description" required placeholder="Detalles del producto">
                <input type="file" name="imagen" id="imgProducto" required value="ingrese imagen">
                <input type="text" id="taller" name="size" required placeholder="Seleccione el talle">
                <input type="text" id="color" name="color" required placeholder="Colores disponible">
                <input type="number" id="precio" name="price" required placeholder="Precio del producto">
                <div class="botones"><buttom type="submit"></buttom>
                <input type="submit" id="boton" value="Crear producto">
                <a href="/"><input type="button" id="boton2" value="Modificar producto"></a></div>
        </form>
</main>