<header>
    <section class="titulo">
        <nav> <a href="/"><img class="logo" src="../../../images/logopng.png" alt="Aquí va una foto" ></a></nav>
        <h2> LyonSport</h2>
    </section>
    <section class="peticiones">
        <h6 class="buscador">Buscar productos<a href="/" class="lupa"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a><h6>
        <a class="ingresar" href="/login"><i class="fa-solid fa-user"></i></a>
        <a class="deseos" href="/"><i class="fa-sharp fa-regular fa-heart"></i></a>
        <a class="carrito" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </section>
</header>