<header>
    <div class="titulo">
        <a href="/"><img class="logo" src="/images/logopng.png" alt="Logo LyonSport" ></a>
        <h2> LyonSport </h2>
    </div>

    <div class="searchbar">
        <input id="barra" type="text" placeholder="Buscar productos">
        <button onclick="buscar()"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
        

    <div class="peticiones">
        <div>
            <a class="ingresar" href=<% if (locals.isLogged) { %>
             <%= '/profile' %>
            <% } else { %>
                <%= '/login' %>
                <% } %> ><i class="fa-solid fa-user"></i></a>
            
        </div>
        <a class="carrito" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="" class="burguer-menu"><i class="fa-solid fa-bars"></i></a>
    </div>

</header>