<header>
    <section class="titulo">
        <nav> <a href="/"><img class="logo" src="../../../images/logopng.png" alt="Aquí va una foto" ></a></nav>
        <h2> LyonSport</h2>
    </section>
    <section class="peticiones">
        <input class="barra" type="text" placeholder="Buscar productos"><a  href="/"><i id="lupa" class="fa-solid fa-magnifying-glass"></i></a>
        <div><% if (locals.isLogged) { %>
            <a  href="/logout" style="color: white;"><input type="button" value="logout"></a>
            <p style="color: white;">Hola <%= locals.userLogged.name %></p>
            
        <% } else { %>
            <a class="ingresar" href="/login"><i class="fa-solid fa-user"></i></a>
            
        <% } %></div>
        

        <div><a class="deseos" href="/"><i class="fa-sharp fa-regular fa-heart"></i></a>
        <a class="carrito" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></div>
        
    </section>
</header>